<div class="card bg-light text-dark">

  <div class="card-header">
    <div class="d-flex justify-content-between align-items-end">
      <h3 class="pb-1">Patients</h3>
    </div>
  </div>

  <div class="card-body">

    <!-- Table -->
    <div id="div_tabla_id" class="div_tabla">

      <table id="tbl_id" cellspacing="0" cellpadding="0" class="standard-light-blue" style="width: 100%;">

        <thead>
        <tr style="text-align: left;">
        </tr>
        </thead>

        <tbody>

        <tr>
          <th>ID</th>
          <th>First name</th>
          <th>Last name</th>
          <th>MR</th>
          <th>DOB</th>
          <th>Gender</th>
          <th>Age</th>
          <th></th>
          </th>
        </tr>

        <% @patients.each do |patient| %>
          <tr>
            <td style="text-align: center;">
              <%= patient.id %>
            </td>

            <td style="text-align: center;">
              <%= patient.first_name %>
            </td>

            <td style="text-align: left;">
              <%= patient.last_name %>
            </td>

            <td style="text-align: center;">
              <%= patient.mr %>
            </td>

            <td style="text-align: center;">
              <%= patient.dob.year %>
            </td>

            <td style="text-align: center;">
              <%= patient.gender %>
            </td>

            <td style="text-align: center;">
              <%= (Time.now.year - patient.dob.year) %>
            </td>

            <td>
              <%= link_to patient_transfer_path(patient), class: 'btn btn-primary btn-sm faa-parent animated-hover' do %>
                <i class="fa fa-arrow-right faa-horizontal faa-slow"></i>
              <% end %>
            </td>
          </tr>
        <% end %>

        </tbody>

        <tfoot>
        <tr>
        </tr>
        </tfoot>

      </table>

    </div>

  </div>

</div>