<div class="card bg-light text-dark">

  <div class="card-header" style="padding: 5px">
    <h3 class="pb-1">Emergency Transfer Summary (Form 34L-D)</h3>
  </div>

  <!--Card-Body-->
  <div class="card-body" style="padding: 0px">


    <div class="card" style="padding: 5px">
      <h4 class="card-title pb-1">Transferring Facility</h4>
    </div>

    <div class="card" style="padding: 0px">
      <!--<h4 class="card-title pb-1">Transferring Facility</h4>-->
      <div class="row" style="padding-left: 5px">
        <div class="col-2" style="border-right: 1px solid #DFDFDF">
          <b>Name</b>
          <br>
          Blue Alps Ski Camp
        </div>
        <div class="col-10" style="border-left: 1px solid #DFDFDF"></div>
      </div>
    </div>

    <div class="card" style="padding: 5px">
      <h4 class="card-title pb-1">Patient Information</h4>
    </div>

    <div class="card" style="padding: 0px">
      <div class="row" style="padding-left: 5px">
        <div class="col-2" style="border-right: 1px solid #DFDFDF;">
          <b>First Name</b>
          <br>
          <%= @patient.first_name %>
        </div>
        <div class="col-2" style="border-right: 1px solid #DFDFDF; border-left: 1px solid #DFDFDF;">
          <b>Middle Name</b>
          <br>
          <%= @patient.middle_name %>
        </div>
        <div class="col-2" style="border-right: 1px solid #DFDFDF; border-left: 1px solid #DFDFDF;">
          <b>Last Name</b>
          <br>
          <%= @patient.last_name %>
        </div>
        <div class="col-2" style="border-right: 1px solid #DFDFDF; border-left: 1px solid #DFDFDF;">
          <b>
            Medical Record
            (MR)
          </b>
          <br>
          <%= @patient.mr %>
        </div>


        <div class="col-4" style="border-left: 1px solid #DFDFDF"></div>
      </div>
    </div>

    <div class="card" style="padding-left: 5px; padding-right: 5px">

      <h4 class="card-title">Summary</h4>

      <p style="text-align: justify">

        <%= @patient.middle_name %>



        This <%= (Time.now.year - @patient.dob.year) %> years old <%= @patient.gender %> was admitted to Blue Alps Ski
        Camp emergency
        facility on February 18, 2018, at 5:07 pm
        due to a <%= @patient.diagnoses %>. The observed symptoms on admission were <%= @patient.admission_id %>. No
        soft tissues were damaged.
        Upon asking about known allergies, the patient disclosed <%= @patient.allergies %>. Upon asking about chronic
        conditions,
        the patient disclosed Asthma (J45). The patient was administered with <%= @patient.medications %> Acetaminophen
        500mg PO q4hr to relieve
        pain, and Naproxen 500mg PO q6hr to relieve
        swelling.
        The staff performed <%= @patient.diagnostic_procedures %> an exploratory radiography at 5:15 pm, revealing a
        closed fracture in the right tibia
        (S82.101A). Our team proceeded to temporary bracing
        the right leg to restrict the motion.
      </p>


    </div>

    <!--    <br>-->

  </div>
  <!--/Card-Body-->

  <div class="card-footer" style="padding: 5px; padding-top: 12px">
    <!--     <p><a href="{{url()->previous()}}">URL Anterior</a></p>-->
    <p>
      <a href="#" class="btn btn-default btn-success faa-parent animated-hover" style="text-decoration: none;" name="edit_user">
        <i class="fa fa-edit faa-ring faa-slow"></i>
        Edit patient
      </a>

      <a class="btn btn-default btn-danger faa-parent animated-hover" style="text-decoration: none;" href="<%= patients_path %>">
        <i class="fa fa-arrow-left faa-horizontal fa-fast"></i>
        Go back
      </a>
    </p>

  </div>

</div>