<div class="row">
  <figure class="figure">
    <img src="<%= image.url %>" class="figure-img img-fluid rounded">
    <figcaption class="figure-caption"><%= link_to image.description, image %></figcaption>
    <figcaption class="figure-caption"><b>ID:</b> <%= image.id %>, <b>Likes:</b> <%= image.likes_counter %>

      <%= link_to 'Edit', edit_image_path(image) %>
      <%= link_to 'Delete', image, method: :delete, data: {confirm: 'Are you sure?'} %>
    </figcaption>
  </figure>
</div>