<%#= image.description %> <%#= link_to 'Edit', edit_image_path(image) %>
<!--<br>-->

<tr>
  <td style="text-align: center;">
    <%#= link_to image.id, edit_image_path(image) %>
    <%= link_to image.id, image %>
  </td>

  <td style="text-align: left;">
    <%#= link_to image.description, edit_image_path(image) %>
    <%= link_to image.description, image %>
  </td>

  <td style="text-align: center;">
    <%#= link_to image.likes_counter, edit_image_path(image) %>
    <%= link_to image.likes_counter, image %>
  </td>

  <td><%= link_to 'Edit', edit_image_path(image) %></td>
  <td><%= link_to 'Delete', image, method: :delete, data: {confirm: 'Are you sure?'} %></td>
</tr>