<!doctype html>
<html lang="en">
<head>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <!--<link rel="icon" href="favicon.ico">-->
  <%= favicon_link_tag 'logos/saint_bernad_sad_face.png' %>
  <%#= favicon_link_tag '1e12f2d8bfaeb02f62a5e04d1c298cff.png' %>

  <!--<title><%#= yield('page_title') %> - Blaster.com</title>-->
  <title>Saint Bernard Emergency Transfer</title>


  <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>



  <!-- Bootstrap core CSS -->
  <!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"-->
  <!--        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
  <%#= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" %>

  <!--   Esta versión de bootstrap permite mostrar bien los formularios (La anterior no)-->
  <!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" crossorigin="anonymous">-->
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" %>

  <!-- Font Awesome Core -->
  <!--  <link rel="stylesheet" href="font-awesome.css">-->
  <%= stylesheet_link_tag "font-awesome-4.7.0/css/font-awesome" %>
  <%#= stylesheet_link_tag "/app/assets/fonts/font-awesome-4.7.0/css/font-awesome.css" %>

  <!-- Alertify: include the core style -->
  <!--  <link rel="stylesheet" href="alertifyjs/css/alertify.min.css"/>-->
  <%= stylesheet_link_tag "alertifyjs/css/alertify.min" %>

  <!-- Alertify: include a theme (default in this case) -->
  <!--  <link rel="stylesheet" href="alertifyjs/css/themes/default.min.css"/>-->
  <%= stylesheet_link_tag "alertifyjs/css/themes/default.min" %>

  <!-- Alertify: include a theme (semantic in this case. It's bigger) -->
  <!--  <link rel="stylesheet" href="alertifyjs/css/themes/semantic.min.css"/>-->

  <!-- Alertify: include a theme (Bootstrap in this case.) -->
  <link rel="stylesheet" href="alertifyjs/css/themes/bootstrap.min.css"/>

  <!-- Alertify: include a theme (default rtl in this case.) -->
  <!--  <link rel="stylesheet" href="alertifyjs/css/themes/default.rtl.min.css"/>-->

  <!-- Font Awesome Animated Icons -->
  <!--  <link rel="stylesheet" href="font-awesome-animation.css">-->
  <%= stylesheet_link_tag "font-awesome-animation" %>

  <!-- Custom General Style for the template -->
  <!--  <link href="general_style.css" rel="stylesheet">-->
  <%= stylesheet_link_tag "general_style" %>

  <!-- Custom styles for the Sticky footer navbar -->
  <!--  <link href="sticky-footer-navbar.css" rel="stylesheet">-->
  <%= stylesheet_link_tag "sticky-footer-navbar" %>

  <!-- Custom table styles for the tables -->
  <!--  <link rel="stylesheet" href="tablesStyles.css">-->
  <%= stylesheet_link_tag "tablesStyles" %>

  <!-- Custom sidenav style for the Fixed SideBar -->
  <!--  <link rel="stylesheet" href="sidenav_style.css.scss">-->
  <%= stylesheet_link_tag "sidenav_style" %>

  <!-- Custom style for the Checkboxes -->
  <!--  <link rel="stylesheet" href="checkbox_style.css">-->
  <%= stylesheet_link_tag "checkbox_style" %>

  <!--  pretty checkbox CDN, A pure CSS library to beautify checkbox and radio buttons!-->
  <!--  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css"/>-->
  <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css" %>

</head>

<body>

<header>
  <!-- Fixed Navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">


    <a class="navbar-brand  faa-parent animated-hover" href="<%= patients_path %>">
      <%= image_tag 'logos/saint_bernard_chest_274X274.png', width: '40px', height: '40px', class: 'fa fa-film faa-bounce fa-fast' %>
      <!--      <i class="fa fa-film faa-bounce fa-fast"></i>-->
      Saint Bernard Transfer
    </a>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link faa-parent animated-hover" href="#">
            <!--            <span class="sr-only fa fa-user">(current)</span>-->
            <span class="fa fa-users faa-ring fa-fast"></span>
            Patients
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Another Link
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled Link
          </a>
        </li>
      </ul>

      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <!-- / Fixed Navbar -->
</header>

<!-- Page content -->
<main role="main" class="container" style="margin-left: 0;">
  <div class="row mt-3" style="padding: 0; width: 100%;  margin-left: 0px;">
    <div class="content col-11" style="padding: 0">

      <%= yield %>

    </div>


    <!--    @section('sidebar')-->
    <div class="col-1">
      <!-- Side navigation -->
      <div class="sidenav">


        <!--        <a href="#" id="a_new_user"-->
        <!--           class="btn btn-default btn-success faa-parent animated-hover">-->
        <!--          <i class="fa fa-user faa-ring fa-fast"></i>-->
        <!--          Crear usuario-->
        <!--        </a>-->


        <a href="<%= patients_path %>" class="faa-parent animated-hover">
          <i class="fa fa-users faa-ring fa-slow"></i> Patients
        </a>

        <a href="<%= new_patient_path %>" class="faa-parent animated-hover">
          <i class="fa fa-user-plus faa-ring fa-slow"></i>&nbsp;New patient
        </a>


        <a href="#" class="faa-parent animated-hover">
          <i class="fa fa-list-alt faa-ring fa-slow"></i>&nbsp;Comentarios
        </a>
        <a href="#" class="faa-parent animated-hover">
          &nbsp;<i class="fa fa-phone faa-ring fa-slow"></i>&nbsp;Contactos
        </a>
        <a href="#" class="faa-parent animated-hover">
          &nbsp;<i class="fa fa-info faa-ring fa-slow"></i>&nbsp;&nbsp;&nbsp;About
        </a>
      </div>
    </div>
    <!--    @show-->


  </div>
</main>
<!-- / Page content -->

<!-- Page Footer -->
<footer class="footer">
  <div class="container">
    <a href="http://reiniergarcia.com" style="text-decoration: none; left: 200px !important;">
            <span class="text-muted faa-parent animated-hover">
                <span class="fa fa-copyright faa-ring fa-slow"></span> All Copyrights Reserved BlasterSoft: <%= Time.now.strftime("%Y") %>
            </span>
    </a>
  </div>
</footer>
<!-- / Page Footer -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"-->
<!--        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"-->
<!--        crossorigin="anonymous"></script>-->
<%= javascript_include_tag 'https://code.jquery.com/jquery-3.2.1.slim.min.js' %>

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"-->
<!--        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"-->
<!--        crossorigin="anonymous"></script>-->
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' %>

<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"-->
<!--        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"-->
<!--        crossorigin="anonymous"></script>-->
<%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' %>

<!-- ** Dirección del fichero .js del plugin Alertify ** -->
<script type="text/javascript" src="alertifyjs/alertify.min.js"></script>
<%#= javascript_include_tag '' %>


<!-- Application JavaScript Files
================================================== -->
<!--<script src="application.js"></script>-->
<%= javascript_include_tag 'application.js' %>


</body>
</html>
